@media only screen and (min-width: 600px) {
  #advantages {
    width: 100%;
    flex-direction: column;
    align-items: center;
    @include section-padding(20px);
    h2 {
      margin: 50px 0;
      color: #333333;
    }
    .advantage {
      display: grid;
      grid-template-columns: 2fr 5fr;
      column-gap: 100px;
      width: 100%;
      opacity: 0;
      transform: translateX(200px);
      transition: opacity 0.5s ease, transform 0.5s ease;
      .image {
        position: relative;
        img {
          border-radius: 25px;
          width: 100%;
        }
        #certificate {
          position: absolute;
          right: -50px;
          bottom: 150px;
          background-color: #fff;
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 15px;
          width: 150px;
          @include box-shadow();
          i {
            @include flex-center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            font-size: 24px;
            color: $primary-color;
            background-color: $light-blue;
          }
          p {
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            text-align: left;
            margin: 0;
            text-align: center;
            span {
              color: $primary-color;
            }
          }
        }
      }
      .details {
        display: flex;
        flex-direction: column;
        h3 {
          color: #333333;
          font-size: 48px;
          width: 800px;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 20px 0;
            i {
              @include flex-center;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              color: $primary-color;
              background-color: $light-blue;
            }
            p {
              font-size: 18px;
              text-align: left;
              margin: 0;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #advantages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $mobile-section-padding;
    h2 {
      margin: 20px 0;
    }
    .advantage {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
      opacity: 0;
      transition: opacity 0.5s ease, transform 0.5s ease;
      transform: translateY(200px);
      .details {
        display: flex;
        flex-direction: column;
        h3 {
          color: #333333;
          font-size: 32px;
          margin-top: 20px;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 20px 0;
            i {
              @include flex-center;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              color: $primary-color;
              background-color: $light-blue;
            }
            p {
              font-size: 18px;
              text-align: left;
              margin: 0;
              margin-left: 10px;
            }
          }
        }
      }
      .image {
        position: relative;
        img {
          border-radius: 25px;
          width: 100%;
        }
        #certificate {
          position: absolute;
          right: -10px;
          bottom: 20px;
          background-color: #fff;
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 15px;
          width: 120px;
          @include box-shadow();
          i {
            @include flex-center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 18px;
            color: $primary-color;
            background-color: $light-blue;
          }
          p {
            font-size: 18px;
            font-weight: 500;
            line-height: 36px;
            text-align: left;
            margin: 0;
            text-align: center;
            span {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}
.show {
  opacity: 1 !important;
  transform: translateX(0) !important;
}
