@media only screen and (min-width: 600px) {
  #question-list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .question {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      .question-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        font-size: 20px;
        width: 600px;
        font-weight: 500;
        cursor: pointer;
        i{
            transition: transform .4s ease;
        }
        p {
          margin: 0;
          width: 600px;
        }
      }
      .answer {
        margin-top: 20px;
        transition: all 0.4s ease;
        display: none;
        height: 0;
        opacity: 0;
        p {
          margin: 0;
          width: 600px;
        }
      }
      &.show {
        .question-content{
            i{
                transform: rotate(180deg);
            }
        }
        .answer {
          height: fit-content;
          display: block;
          opacity: 1;
        }
      }
    }
  }
}
