body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  @include flex-center();
  flex-direction: column;
  background-color: #eee !important;
}
@media only screen and (min-width: 600px) {
  .logo {
    width: 100px;
    position: absolute;
    top: 30px;
    left: 80px;
    img {
      width: 100%;
    }
  }
  .circle {
    width: 30vw;
    border-radius: 50%;
    background-color: $primary-color;
    position: absolute;
  }
  #right-top {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }
  #left-bottom {
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
  }
  h2 {
    margin: 20px 0 !important;
    color: #030303;
  }
  form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 14px;
    width: 500px;
    input:not(input[type='button']) {
      padding: 8px 16px;
      border: 1px solid #ccc;
      outline: none;
      border-radius: 8px;
      margin-bottom: 20px;
      text-align: center;
    }
    input[type='submit'] {
      background-color: $primary-color;
      padding: 8px 16px;
      border-radius: 8px;
      color: #fff;
      border: none;
      outline: none;
      font-weight: 500;
    }
    p {
      margin: 16px 0;
      text-align: center;
      a {
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
}
