@media only screen and (min-width: 600px) {
  #home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    @include section-padding(50px);
    margin-top: 0;
    #welcome {
      background-color: #fff;
      height: 75vh;
      display: grid;
      grid-template-columns: 3fr 2fr;
      padding: 20px 0 20px 60px;
      border-radius: 50px;
      #slogan-sign {
        display: flex;
        justify-content: center;
        flex-direction: column;
        p {
          max-width: 589px;
          font-size: 60px;
          font-weight: 700;
          line-height: 90px;
          text-align: left;
          span {
            color: $primary-color;
          }
        }
        a {
          @include flex-center;
          width: 200px;
          height: 60px;
          padding: 14px 28px;
          gap: 10px;
          border-radius: 5px;
          background-color: $primary-color;
          color: white;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          text-decoration: none;
        }
      }
      #image {
        @include flex-center;
        position: relative;
        img {
          width: 80%;
          border-radius: 25px;
        }
        #student-count {
          position: absolute;
          right: 30px;
          bottom: 150px;
          background-color: #fff;
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 15px;
          i {
            @include flex-center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: $primary-color;
            background-color: $light-blue;
          }
          p.count {
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            text-align: left;
            color: $primary-color;
            margin: 0;
          }
          p.student {
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            text-align: center;
            margin: 0;
          }
        }
        #teachers {
          position: absolute;
          left: 0;
          bottom: 250px;
          background-color: #fff;
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 15px;
          width: 180px;
          p {
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            text-align: center;
            margin: 0;
            span {
              color: $primary-color;
            }
          }
        }
      }
    }

    #counts {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      padding: 0 100px;
      margin-top: 30px;
      .stat {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        flex: 1;
        padding: 8px 12px;
        border-radius: 8px;
        background-color: $light-blue;
        i {
          @include flex-center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          color: $green;
          font-size: 20px;
          background-color: $primary-color;
          color: white;
        }
        p {
          font-size: 18px;
          margin: 0;
          margin-left: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #home {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    padding: $mobile-section-padding;
    margin-top: 60px;
    #welcome {
      display: flex;
      flex-direction: column;
      #slogan-sign {
        display: flex;
        justify-content: center;
        flex-direction: column;
        p {
          max-width: 589px;
          font-size: 32px;
          font-weight: 600;
          text-align: left;
          span {
            color: $green;
          }
        }
      }
      #image {
        @include flex-center;
        position: relative;
        margin-top: 30px;
        img {
          width: 80%;
          border-radius: 25px;
        }
        #student-count {
          position: absolute;
          right: 0;
          bottom: 40px;
          background-color: #fff;
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 15px;
          i {
            @include flex-center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: $green;
            background-color: $light-green;
          }
          p.count {
            font-size: 20px;
            font-weight: 500;
            text-align: left;
            color: $green;
            margin: 0;
          }
          p.student {
            font-size: 10px;
            font-weight: 400;
            line-height: 18px;
            text-align: center;
            margin: 0;
          }
        }
        #teachers {
          position: absolute;
          left: 0;
          bottom: 120px;
          background-color: #fff;
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 15px;
          width: 140px;
          p {
            font-size: 10px;
            font-weight: 500;
            text-align: center;
            margin: 0;
            span {
              color: $green;
            }
          }
        }
      }
    }
    #counts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      margin-top: 30px;
      gap: 20px;
      .stat {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
        border-radius: 8px;
        background-color: $light-blue;
        i {
          @include flex-center;
          width: 30px !important;
          height: 30px;
          border-radius: 50%;
          font-size: 16px;
          background-color: $green;
          color: white;
        }
        p {
          width: calc(100% - 40px);
          font-size: 14px;
          margin: 0;
          margin-left: 6px;
        }
      }
    }
  }
}
