@media only screen and (min-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 5;
    #top-header {
      @include section-padding(20px);
      background-color: #262626;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      #top-left-header {
        a {
          font-size: 24px;
          text-decoration: none;
          font-weight: 500;
        }
      }
      #top-right-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        i {
          font-size: 24px;
          cursor: pointer;
          color: white;
        }
        a {
          background-color: $primary-color;
          color: white;
          padding: 6px 16px;
          text-decoration: none;
          border-radius: 8px;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          font-size: 18px;
        }
      }
    }
    #bottom-header{
      @include section-padding(20px);
      background-color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: calc(100% - 200px);
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        li{
          a{
            text-decoration: none;
            color: #262626;
            cursor: pointer;
          }
          &::after {
            display: block;
            content: "";
            height: 2px;
            width: 0px;
            background-color: $primary-color;
            transition: width .3s ease;
          }
          &:hover {
            a{
              color: $primary-color;
            }
            &::after{
              width: 100%;
            }
          }
        }
      }
      a#addnewsell{
        text-decoration: none;
        padding: 8px 16px;
        background-color: $green;
        border-radius: 8px;
        color: white;
      }
    }
  }
}
