@media only screen and (min-width: 600px) {
  #search-course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include section-padding(20px);
    margin-top: 120px;
    h4 {
      font-weight: 400;
      font-size: 20px;
    }
    form {
        display: grid;
        grid-template-columns: 4fr 1fr;
        gap: 10px;
      input[type='text'] {
        @include input();
      }
      input[type='submit']{
        @include action-button($green);
      }
    }
  }
}
