@media only screen and (min-width: 600px) {
  aside {
    height: 100vh;
    background-color: $primary-color;
    width: 250px;
    position: fixed;
    transition: width .4s ease;
    ul {
      list-style: none;
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      li {
        margin: 10px 0;
        cursor: pointer;
        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 12px;
          width: 100%;
          height: 100%;
          text-decoration: none;
          p,
          i {
            margin: 0;
            font-size: 22px;
            color: #fff;
            transition: all .4s ease;
            font-weight: 500;
          }
          i{
            width: 26px;
          }
        }
        &:hover {
          p {
            transform: translateX(10px);
          }
        }
      }
    }
    &.mini-show{
      width: 80px;
      ul{
        padding-left: 0;
        li{
          margin: 10px 0;
          a{
            align-items: center;
            p{
              display: none;
            }
            i{
              width: 40px;
              height: 40px;
              @include flex-center();
              margin: 0 auto;
              font-size: 26px;
            }
          }
        }
      }
    }
  }
}
