* {
  font-family: "Poppins", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px 0;
}
@media only screen and (min-width: 1500px) {
  section {
    padding: 20px 12vw;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1499px) {
  section {
    padding: 20px 5vw;
  }
}
section h2 {
  margin: 50px auto;
  color: #030303;
}
section h2.header-title {
  margin: 50px auto 10px auto;
  color: #030303;
}
section h5 {
  margin: 0 auto 40px auto;
  color: #62717c;
}

.getstart-btn {
  padding: 8px 16px;
  font-weight: 500;
  background-color: #1450e8;
  outline: none;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  margin: 10px auto 0 0;
}
.getstart-btn i {
  margin-left: 5px;
  transition: 0.3s;
}
.getstart-btn:hover {
  color: white;
}
.getstart-btn:hover i {
  margin-left: 16px;
}

body {
  background-color: #efefef !important;
}

.scrolled {
  padding: 20px 200px !important;
  background-color: white;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 600px) {
  .show {
    transform: translateX(0px);
  }
}
@media only screen and (min-width: 600px) {
  #mobile-navbar {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  h2 {
    margin: 120px auto 60px auto !important;
    text-align: center;
  }
  #socials-contactform {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 200px;
  }
  #socials-contactform .socials {
    display: flex;
    flex-direction: column;
    background-color: #1a191e;
    padding: 120px 60px;
    flex: 1;
    margin: 0 80px;
    border-radius: 24px;
  }
  #socials-contactform .socials p.main-text {
    font-size: 18px;
    color: white;
    font-weight: 500;
    width: 70%;
    text-align: left;
  }
  #socials-contactform .socials .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
  }
  #socials-contactform .socials .social i {
    color: white;
    font-size: 48px;
    margin-right: 20px;
  }
  #socials-contactform .socials .social p.data {
    font-size: 22px;
    margin: 0;
    color: white;
    font-weight: 500;
  }
  #socials-contactform .socials .social p.value {
    font-size: 20px;
    color: white;
    margin: 0;
  }
  #socials-contactform .contactform {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  #socials-contactform .contactform p {
    font-weight: 500;
    font-size: 20px;
  }
  #socials-contactform .contactform input[type=text], #socials-contactform .contactform input[type=email], #socials-contactform .contactform textarea {
    padding: 8px 16px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  #socials-contactform .contactform input[type=submit] {
    background-color: #1450e8;
    padding: 6px 12px;
    border-radius: 8px;
    color: #fff;
    border: none;
    outline: none;
  }
}/*# sourceMappingURL=contact.css.map */