@import './partials/_variables.scss';
@import './partials/_basics.scss';

@import './partials/sections/navbar.scss';
@import './partials/sections/mobile-navbar';

@media only screen and (min-width: 600px) {
  h2 {
    margin: 120px auto 60px auto !important;
    text-align: center;
  }
  #socials-contactform {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $section-padding;
    .socials {
      display: flex;
      flex-direction: column;
      background-color: #1a191e;
      padding: 120px 60px;
      flex: 1;
      margin: 0 80px;
      border-radius: 24px;
      p.main-text {
        font-size: 18px;
        color: white;
        font-weight: 500;
        width: 70%;
        text-align: left;
      }
      .social {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 24px;
        i {
          color: white;
          font-size: 48px;
          margin-right: 20px;
        }
        p.data {
          font-size: 22px;
          margin: 0;
          color: white;
          font-weight: 500;
        }
        p.value {
          font-size: 20px;
          color: white;
          margin: 0;
        }
      }
    }
    .contactform {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 40px;
      p{
        font-weight: 500;
        font-size: 20px
      }
      input[type='text'],input[type='email'],textarea {
        @include input();
        margin-bottom: 20px;
      }
      input[type='submit']{
        @include action-button($primary-color);
      }
    }
  }
}
