@import "./partials/_variables.scss";
@import "./partials/_basics.scss";

@import "./partials/sections/header";
@import "./partials/sections/navbar";
@import "./partials/sections/mobile-navbar";
@import "./partials/sections/home";
@import "./partials/sections/advantages";
@import "./partials/sections/comments";
@import "./partials/sections/categories";
@import "./partials/sections/announces";
