* {
  font-family: 'Poppins', sans-serif;
}

body{
  overflow-x: hidden !important;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px 0;
  @include section-padding(20px);
  h2{
    margin: 50px auto;
    color: #030303;
  }
  h2.header-title {
    margin: 50px auto 10px auto;
    color: #030303;
  }
  h5{
    margin: 0 auto 40px auto;
    color: #62717c;
  }
}

.getstart-btn {
  padding: 8px 16px;
  font-weight: 500;
  background-color: $primary-color;
  outline: none;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  margin: 10px auto 0 0;
  i {
    margin-left: 5px;
    transition: 0.3s;
  }
  &:hover {
    color: white;
    i {
      margin-left: 16px;
    }
  }
}

body{
  background-color: #efefef !important;
}