* {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden !important;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px 0;
}
@media only screen and (min-width: 1500px) {
  section {
    padding: 20px 12vw;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1499px) {
  section {
    padding: 20px 5vw;
  }
}
section h2 {
  margin: 50px auto;
  color: #030303;
}
section h2.header-title {
  margin: 50px auto 10px auto;
  color: #030303;
}
section h5 {
  margin: 0 auto 40px auto;
  color: #62717c;
}

.getstart-btn {
  padding: 8px 16px;
  font-weight: 500;
  background-color: #6237a0;
  outline: none;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  margin: 10px auto 0 0;
}
.getstart-btn i {
  margin-left: 5px;
  transition: 0.3s;
}
.getstart-btn:hover {
  color: white;
}
.getstart-btn:hover i {
  margin-left: 16px;
}

body {
  background-color: #efefef !important;
}

@media only screen and (min-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 5;
  }
  header #top-header {
    background-color: #262626;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 600px) and (min-width: 1500px) {
  header #top-header {
    padding: 20px 12vw;
  }
}
@media only screen and (min-width: 600px) and (min-width: 600px) and (max-width: 1499px) {
  header #top-header {
    padding: 20px 5vw;
  }
}
@media only screen and (min-width: 600px) {
  header #top-header #top-left-header a {
    font-size: 24px;
    text-decoration: none;
    font-weight: 500;
  }
  header #top-header #top-left-header a img {
    width: 60px;
  }
  header #top-header #top-center-header {
    display: flex;
    align-items: center;
  }
  header #top-header #top-center-header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  header #top-header #top-center-header ul li a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  header #top-header #top-center-header ul li::after {
    display: block;
    content: "";
    height: 2px;
    width: 0px;
    background-color: #6237a0;
    transition: width 0.3s ease;
  }
  header #top-header #top-center-header ul li:hover a {
    color: #6237a0;
  }
  header #top-header #top-center-header ul li:hover::after {
    width: 100%;
  }
  header #top-header #top-right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
  header #top-header #top-right-header i {
    font-size: 24px;
    cursor: pointer;
    color: white;
  }
  header #top-header #top-right-header a#addnewsell {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #09b451;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
  }
  header #top-header #top-right-header a#addnewsell i {
    font-size: 20px;
  }
  header #top-header #top-right-header a#login {
    background-color: #6237a0;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 18px;
  }
  header #bottom-header {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 600px) and (min-width: 1500px) {
  header #bottom-header {
    padding: 20px 12vw;
  }
}
@media only screen and (min-width: 600px) and (min-width: 600px) and (max-width: 1499px) {
  header #bottom-header {
    padding: 20px 5vw;
  }
}
@media only screen and (min-width: 600px) {
  header #bottom-header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 200px);
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  header #bottom-header ul li a {
    text-decoration: none;
    color: #262626;
    cursor: pointer;
  }
  header #bottom-header ul li::after {
    display: block;
    content: "";
    height: 2px;
    width: 0px;
    background-color: #6237a0;
    transition: width 0.3s ease;
  }
  header #bottom-header ul li:hover a {
    color: #6237a0;
  }
  header #bottom-header ul li:hover::after {
    width: 100%;
  }
  header #bottom-header a#addnewsell {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #09b451;
    border-radius: 8px;
    color: white;
  }
}
.scrolled {
  padding: 20px 200px !important;
  background-color: white;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 600px) {
  .show {
    transform: translateX(0px);
  }
}
@media only screen and (min-width: 600px) {
  #mobile-navbar {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  #agreements #agreement-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #agreements #agreement-list .agreement {
    text-decoration: none;
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    transform: preserve-3d;
    perspective: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  #agreements #agreement-list .agreement p.content {
    margin-left: 18px;
  }
  #agreements #agreement-list .agreement .cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    transform-origin: 0;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #agreements #agreement-list .agreement .cover i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #6237a0;
    background-color: #f0e6ff;
    margin-bottom: 10px;
  }
  #agreements #agreement-list .agreement:hover .cover {
    transition: all 0.5s;
    transform: rotatey(-80deg);
  }
}
@media only screen and (min-width: 600px) {
  #rules {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    width: 100%;
    position: relative;
  }
  #rules #tabs {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  #rules #tabs .tab {
    padding: 10px 24px;
    background-color: #fff;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    color: #6237a0;
  }
  #rules #tabs .active-tab {
    background-color: #6237a0;
    color: #fff;
  }
  #rules .line {
    position: absolute;
    width: 2px;
    background-color: #62717c;
  }
  #rules article {
    width: 864px;
    margin-top: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #rules article .event {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  #rules article .event .circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #62717c;
  }
  #rules article .event .info-box {
    display: flex;
    align-items: center;
    width: 400px;
    background-color: white;
    padding: 14px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
  }
  #rules article .event .info-box .date {
    color: #6237a0;
    font-weight: 500;
    font-size: 18px;
  }
  #rules article .event .info-box .caption {
    font-size: 16px;
    color: #62717c;
    margin-top: 10px;
  }
  #rules article .event .info-box i {
    min-width: 50px;
    height: 50px;
    background-color: #f0e6ff;
    font-size: 20px;
    color: #6237a0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #rules article .event:nth-child(odd) {
    flex-direction: row;
    align-self: flex-end;
  }
  #rules article .event:nth-child(odd) .info-box {
    margin-left: 20px;
    flex-direction: row-reverse;
    justify-content: start;
  }
  #rules article .event:nth-child(odd) .info-box .date-cap {
    margin-left: 10px;
  }
  #rules article .event:nth-child(even) {
    flex-direction: row-reverse;
    align-self: flex-start;
  }
  #rules article .event:nth-child(even) .info-box {
    margin-right: 20px;
    flex-direction: row;
    justify-content: space-between;
  }
}/*# sourceMappingURL=howitworks.css.map */