@import "./partials/_variables.scss";
@import "./partials/_basics.scss";

@import "./partials/sections/header";
@import "./partials/sections/navbar";
@import "./partials/sections/mobile-navbar";
@import "./partials/sections/product";
@import "./partials/sections/announces";
@import "./partials/sections/categories";